.pop-up,
.modal,
.card-product--hover {
	display: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #fff;

	background-color: #849d8f;
}

a {
	text-decoration: none;
	color: #fff;
}

/* Меню основной навигации */

.page-nav {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.page-nav__list,
.catalog-dropdown__list,
.interface-btns-list {
	list-style: none;
}

.page-nav__link {
	color: #fff;

	border-bottom: 1px solid #adbdb4;
}

.page-nav__link:hover {
	color: #323232;

	border-bottom: none;
	background-color: #f7f6f3;
}

.page-nav__link:focus {
	color: #323232;

	border-bottom: none;
	background-color: #ededed;
}

.page-nav__link--active {
	color: #fff;

	border-bottom: none;
	background-color: #d07058;
}

/* Выпадающее меню Каталога */

.catalog-dropdown__list {
	background-color: #f8f7f4;
}

.catalog-dropdown__link {
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.catalog-dropdown__link1 {
	font-size: 14px;
	font-weight: bold;
}

.catalog-dropdown__link:hover {
	color: #323232;

	background-color: #fbded7;
}

.catalog-dropdown__link:focus {
	color: #323232;

	background-color: #f6b5a5;
}

.catalog-dropdown__link--active {
	color: #fff;

	background-color: #d07058;
}

/* Кнопки UI в шапке */

.pop-up-page-search__btn,
.interface-btn {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;

	background-color: rgba(255, 255, 255, 0.2);
}

.pop-up-page-search__btn:hover,
.interface-btn:hover {
	color: #323232;

	background-color: #f8f7f4;
}

/* Информация в шапке */

.work-time {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #fff;
	text-align: right;
}

.telephone {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	text-align: right;
}