/*--------------------------------------------------------
													INDEX
--------------------------------------------------------*/

.pop-up,
.modal,
.card-product--hover {
	display: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;

	background-color: #849d8f;
}

.page-main h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #fff;
}

.list-style-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Состояния для ссылок */

.page-body a {
	text-decoration: none;
	color: #fff;
}

.page-body a:hover,
.page-body a:active {
	color: #ffbc9e;
	border-color: #ffbc9e;
}

/* Состояния для текстовых полей */

.page-body input[type="text"],
.page-body input[type="password"] {
	height: 42px;

	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #323232;

	border: 1px solid rgb(178, 178, 178);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
}

.page-body input[type="text"]::-moz-placeholder,
.page-body input[type="password"]::-moz-placeholder {
	color: #999;
	font-weight: 400;
}

.page-body input[type="text"]::-webkit-input-placeholder,
.page-body input[type="password"]::-webkit-input-placeholder {
	color: #999;
	font-weight: 400;
}

.page-body input[type="text"]:hover,
.page-body input[type="password"]:hover {
	border: 2px solid #c7c6c5;
}

.page-body input[type="text"]:focus,
.page-body input[type="password"]:focus {
	border: 2px solid #8fbdec;
	outline: none;
}

/* Ораньжевые кнопки */

.btn--orange {
	position: relative;

	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	border-radius: 35px;
}

.page-body .btn--orange:hover,
.page-body .btn--orange:active {
	color: #fff;
}

.btn--orange:hover.btn::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	color: #fff;

	background-color: rgba(255,255,255,0.2);
	border-radius: 35px;
}

.btn--orange:active.btn::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	color: #fff;

	background-color: rgba(0,0,0,0.07);
	border-radius: 35px;
}

/* >>>>>>>>>>>>>>>>>>>> Ш А П К А <<<<<<<<<<<<<<<<<<<< */

/* Меню основной навигации */

.page-nav {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.page-nav__link {
	color: #fff;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-nav__link:hover {
	color: #323232;

	border-bottom: none;
	background-color: #f7f6f3;
}

.page-nav__link:focus {
	color: #323232;

	border-bottom: none;
	background-color: #ededed;
}

.page-nav__link--active {
	color: #fff;

	border-bottom: none;
	background-color: #d07058;
}

/* Выпадающее меню Каталога */

.catalog-dropdown__list {
	background-color: #f8f7f4;
}

.catalog-dropdown__link {
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.catalog-dropdown__item:first-child .catalog-dropdown__link {
	font-size: 14px;
	font-weight: bold;
}

.catalog-dropdown__item:first-child {
	border-bottom: 1px solid rgba(53, 53, 53, 0.2);
}

.catalog-dropdown__link:hover {
	color: #323232;

	background-color: #fbded7;
}

.catalog-dropdown__link:focus {
	color: #323232;

	background-color: #f6b5a5;
}

.catalog-dropdown__link--active {
	color: #fff;

	background-color: #d07058;
}

/* Кнопки UI в шапке */

.pop-up-page-search__btn,
.interface-btn {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;

	background-color: rgba(255, 255, 255, 0.2);
}

.interface-btn:hover {
	color: #323232;

	background-color: #f8f7f4;
}

/* Информация в шапке */

.work-time {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #fff;
	text-align: right;
}

.telephone {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	text-align: right;
}

/* >>>>>>>>>>>>>>>>>>>> К О Н Т Е Н Т <<<<<<<<<<<<<<<<<<<< */

/* Слайдер */

.slide {
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.slide-title {
	font-size: 60px;
	line-height: 60.35px;
}

.slide__link {
	padding: 16px 42px 16px 40px;

	font-size: 32px;
	font-weight: bold;
	line-height: 32px;
	color: #fff;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* Секция акций */

.stock__subtitle {
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
	color: #fff;
}

.stock__info {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	color: #fff;
}

.stock__link {
	padding: 14px 24px 14px 22px;

	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	color: #fff;
}

/* Каталог продукции */

.product__link {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product__image-wrapper {
	width: 267px;
	height: 267px;

	border-radius: 50%;
	overflow: hidden;
}

.product__price {
	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
	color: #fff;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.weight-unit {
	font-size: 30px;
}

/* Секция about */

.about {
	color: #323232;

	background-color: #e9dec6;
	background-image: url(../img/wafer.jpg);
	background-repeat: no-repeat;
}

.about__lead {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	color: #323232;
}

.about__item {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #323232;
}

/* Секция превью поста из блога */

.preview,
.preview .preview__link {
	color: #323232;

	background-color: #fff;
}

.preview__title {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.preview__link {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;

	border-bottom: 2px solid #353535;
}

.preview__link:hover,
.preview__link:active {
	color: #ffbc9e;
}

/* Секция сбора почты для рассылки */

.subscribe {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #5a5a5a;

	background-color: #f8f7f4;
}

.subscribe-form__btn {
	padding: 13px 19px 13px 19px;

	font: inherit;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	color: #fff;

	border: none;
}

/* Секция с картой и контактами */

.contacts {
	position: relative;
	height: 430px;

	background-color: rgba(255, 255, 255, 0.98);
}

.contacts-info__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #323232;
}

.contacts-info__address,
.contacts-info__phone {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #323232;
}

.contacts-info__address {
	font-style: normal;
}

.contacts-info__phone,
.contacts-info__phone+.contacts-info__text {
	line-height: 22px;
}

.contacts-info {
	position: absolute;
	top: 60px;
	right: 30px;

	height: 305px;

	background-color: #fdfefe;
}

.contacts-info__btn{
	position: absolute;
	top: 300px;
	right:120px;

	padding: 13px 28px 13px 28px;

	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	color: #fff;
}

/* >>>>>>>>>>>>>>>>>>>> П О Д В А Л <<<<<<<<<<<<<<<<<<<< */

/* Соцсети */



/* Вспомогательные ссылки для пользователей */

.helpful__link {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.helpful__item:first-child .helpful__link {
	font-weight: bold;
}

/* Copyright */

.copyright__text {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #fff;
}

.copyright__link {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright__link-img {
	border-bottom: 0;
}

/*--------------------------------------------------------
												INNER PAGE
--------------------------------------------------------*/

/* Хлебные крошки */

.breadcrumbs {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #fff;
}

.breadcrumbs__item {
	display: inline-block;
}

.breadcrumbs__item:after {
	content: "»";

	font: inherit;
}

.breadcrumbs__item--active.breadcrumbs__item:after {
	display: none;
}

.breadcrumbs__link {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.breadcrumbs__item--active .breadcrumbs__link {
	border: 0;
	color: #fff;
}

/* Секция фильтров */

.filters {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #fff;
}

.filters-form__caption {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #fff;
}