.pop-up,
.modal,
.card-product--hover {
	display: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #fff;

	background-color: #849d8f;
}

a {
	text-decoration: none;
	color: #fff;
}

.telephone__link:hover,
.telephone__link:active,
a.product__link:hover,
a.product__link:active,
a.preview__link:hover,
a.preview__link:active {
	color: #ffbc9e;
}

/* Ораньжевые кнопки */

.btn {
	position: relative;

	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius: 35px;
}

a:hover.btn::after,
button:hover.btn::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(255,255,255,0.2);
	border-radius: 35px;
}

a:active.btn::after,
button:active.btn::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.07);
	border-radius: 35px;
}

/* Меню основной навигации */

.page-nav {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.page-nav__list,
.catalog-dropdown__list,
.interface-btns-list {
	list-style: none;
}

.page-nav__link {
	color: #fff;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-nav__link:hover {
	color: #323232;

	border-bottom: none;
	background-color: #f7f6f3;
}

.page-nav__link:focus {
	color: #323232;

	border-bottom: none;
	background-color: #ededed;
}

.page-nav__link--active {
	color: #fff;

	border-bottom: none;
	background-color: #d07058;
}

/* Выпадающее меню Каталога */

.catalog-dropdown__list {
	background-color: #f8f7f4;
}

.catalog-dropdown__link {
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.dropdown-item-first__link {
	font-size: 14px;
	font-weight: bold;
}

.dropdown-item-first {
	border-bottom: 1px solid rgba(53, 53, 53, 0.2);
}

.catalog-dropdown__link:hover {
	color: #323232;

	background-color: #fbded7;
}

.catalog-dropdown__link:focus {
	color: #323232;

	background-color: #f6b5a5;
}

.catalog-dropdown__link--active {
	color: #fff;

	background-color: #d07058;
}

/* Кнопки UI в шапке */

.pop-up-page-search__btn,
.interface-btn {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;

	background-color: rgba(255, 255, 255, 0.2);
}

.pop-up-page-search__btn:hover,
.interface-btn:hover {
	color: #323232;

	background-color: #f8f7f4;
}

/* Информация в шапке */

.work-time {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #fff;
	text-align: right;
}

.telephone {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	text-align: right;
}

/* Слайдер */

.slide {
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.slide-title {
	font-size: 60px;
	line-height: 60.35px;
}

.slide__link {
	padding: 16px 42px 16px 40px;

	font-size: 32px;
	font-weight: bold;
	line-height: 44px;
	color: #fff;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* Секция акций */

.stock__list {
	list-style: none;
}

.stock__subtitle {
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
	color: #fff;
}

.stock__info {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	color: #fff;
}

.stock__link {
	padding: 15px 24px 14px 22px;

	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
}

/* Каталог продукции */

.catalog__list {
	list-style: none;
}

.product__title .product__link {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #fff;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product__price {
	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
	color: #fff;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.weight-unit {
	font-size: 30px;
}

/* Секция about */

.about {
	color: #323232;

	background-color: #e9dec6;
	background-image: url(../img/wafer.jpg);
	background-repeat: no-repeat;
}

.about__lead {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	color: #323232;
}

.about-list {
	list-style: none;
}

.about__item {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #323232;
}

/* Секция превью поста из блога */

.preview,
.preview .preview__link {
	color: #323232;

	background-color: #fff;
}

.preview__title {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.preview__link {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;

	border-bottom: 2px solid #353535;
}

/* Секция сбора почты для рассылки */

.subscribe {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #5a5a5a;

	background-color: #f8f7f4;
}

.subscribe-form__input {
	height: 42px;

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #999999;

	border: 1px solid rgb(178, 178, 178);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	opacity: 0.52;
}

.subscribe-form__btn {
	padding: 14px 19px 13px 19px;

	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;

	border: none;
}